spring:
  application:
    name: bookingservice

  jackson:
    serialization:
      write-dates-as-timestamps: false  # Use ISO-8601 format
    time-zone: UTC


  datasource:
    url: jdbc:postgresql://localhost:5432/booking_db?reWriteBatchedInserts=true
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    hikari:
      maximum-pool-size: 10


  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        jdbc:
          batch_size: 50
        order_inserts: true
        order_updates: true
        format_sql: true
    show-sql: true
    open-in-view: false

  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
        spring.json.add.type.headers: false

server:
  port: 8087

kafka:
  topic:
    booking-events: booking-events


eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/


      instance:
        prefer-ip-address: true          #  Use IP instead of hostname
        hostname: localhost


app:
  jwt:
    secret: ${JWT_SECRET}
    access-token-expiration-ms: 3600000
    refresh-token-expiration-ms: 2592000000


logging:
  level:
    root: INFO
    com.bookingservice: DEBUG
    io.netty.resolver.dns: ERROR