spring:
  application:
    name: userprofile


  datasource:
    url: jdbc:postgresql://localhost:5432/userprofile_DB
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true

  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
        spring.json.add.type.headers: false



eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/


      instance:
        prefer-ip-address: true          #  Use IP instead of hostname
        hostname: localhost

server:
  port: 8082


cloudinary:
  cloud-name: ${CLOUD_NAME}
  api-key: ${API_KEY}
  api-secret: ${API_SECRET}



app:
  jwt:
    secret: ${JWT_SECRET}
    access-token-expiration-ms: 3600000
    refresh-token-expiration-ms: 2592000000



kafka:
  topic:
    user-deleted: user-deleted
    user-registered: user.registered