@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        scroll-behavior: smooth;
    }

    * {
        font-family: "Host Grotesk", sans-serif;
        letter-spacing: .5px;
    }

    body {
        @apply antialiased text-clay-text bg-clay-bg selection:bg-indigo-100 selection:text-indigo-700;
    }
}

/* Custom scrollbar for better aesthetic */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
    @apply bg-slate-300 rounded-full hover:bg-slate-400 transition-colors;
}